- var rol = cargo 
- var name = nombre
- var products = productos
- var users = usuarios
- var favs = favoritos

doctype html
html(lang="en")
    head
        <script src="https://cdn.tailwindcss.com"></script>
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        include partials/user_header
        
        if rol == "admin"
            section(class="flex")
                div(class="border w-[50%] flex  flex-col justify-evenly items-center")
                    h1(class="text-[40px]") Productos
                    for p in products
                        div(class="h-[300px] w-[450px] flex border mb-[30px]")
                            div(class="h-full w-[50%]")
                                img(src=p.imagen, alt="",class="h-full w-full")
                            div(class="h-full w-[50%] flex flex-col justify-evenly items-center")
                                h1(class="text-[23px] text-orange-400")=p.nombre
                                p(class="text-[23px] text-orange-400")=p.precio 
                div(class="border w-[50%] flex flex-col justify-evenly items-center") 
                    h1(class="text-[40px]") Usuarios 
                    for user in users
                        div(class="border h-[100px] w-[80%] flex justify-around items-center p-[.4rem]")
                            h2(class="text-[40px]")=user.nombre
                            h3(class="text-[40px]")=user.email
                        

        else if rol == "cliente"
            
            div(class="h-[200px]  flex flex-col justify-center items-center text-center")
                h1(class="text-[70px] text-orange-400") Bienvenido 
                h1(class="text-[70px] text-orange-400")=name

            if large == 0
                div(class="h-[200px] flex justify-center items-center flex-col")
                    p(class="text-[55px] text-red-400") No hay Productos Favoritos ahora mismo
                    a(href="/add")
                        button(class="p-[.4rem] w-[150px] bg-black text-white") Añadir
            else 
                for f in favs
                    div(class="h-[300px] w-[450px] flex border mb-[30px]")
                        div(class="h-full w-[50%]")
                            img(src=f.imagen, alt="",class="h-full w-full")
                        div(class="h-full w-[50%] flex flex-col justify-evenly items-center")
                            h1(class="text-[23px] text-orange-400")=f.nombre 
                            p(class="text-[23px] text-orange-400")=f.precio 



                